html{
    scroll-behavior: smooth;
}


.box {
      background: white;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 7px;
    }

    body {
      font-family: 'Times New Roman', serif;
      font-size: 18px;
      background: #fcfbf9;
      color: #333;
    }

    img.a {
      height: 25%;
      width: 25%;
    }

    table {
      width: 100%;
      font-family: 'Segoe Print', sans-serif;
      border-collapse: collapse;
      table-layout: fixed;
      text-align: center;
    }

    th {
      width: auto;
    }

    a.nav-link {
      text-decoration: none;
      color: #333;
      transition: color 0.3s;
      white-space: nowrap;
    }

    a.nav-link:hover {
      color: #b0180a;
    }

    @media (max-width: 1024px) {
      table {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      th {
        flex: 1 1 30%;
        padding: 8px;
      }

      img.a {
        width: 15%;
        height: auto;
      }
    }

.h{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.form{
    background: linear-gradient(135deg, #e4e2e0, #6182bf );
    box-shadow:  0 3px 10px 0 rgba(6, 7, 12, 0.6);
    border-radius:4px;
    justify-content: center;
    align-items: center;
    display:flex;
    margin-left:180px;
    margin-right:180px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#bsub{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:13px;
    padding-bottom: 5px;
}

.text{
    font-size:small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#submit{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-color: #b0180a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
    padding: 6px;
    gap: 8px;
    display: flex;
    width: 100%;
}

#submit:hover{
  border-color:cadetblue;
  box-shadow: 0 3px 12px 0 rgba(15, 36, 125, 0.6);
}

.input-box{
    width:100%;
    margin-left: 6px;
    margin-right:6px;
    font-size:small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

